// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// TCCX
@import "tccx";

.navbar-tccx {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  // background-image: $body-bg-url;
}

// Fixed background
.background-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1000;
  left: 0;
  top: 0;
  background-image: $body-bg-url;
}

// Table
.sorting {
  cursor: pointer;
}