// Modal
$quest-dialog-duration: 160ms;
#dialog-quest-delete, #dialog-quest-assign {
  transition-duration: $quest-dialog-duration;
}

// Quest view
#quest-code {
  position: fixed;
  top: 32px;
  right: 64px;
}

.text-quest-code {
  font-size: 3em;
}

.text-quest-details {
  font-size: 1em;
}

.text-quest-header {
  font-size: 1em;
}

@media print {
  #quest-code {
    top: 16px;
    right: 16px;
  }
  .text-quest-details {
    font-size: 1.5em;
  }
  .text-quest-header {
    font-size: 1.5em;
  }
}

.page-break {
  page-break-after: always;
}

// Thai font
@font-face {
  font-family: 'TH Sarabun New';
  font-style: normal;
  font-weight: normal;
  //noinspection CssUnknownTarget
  src: url("/fonts/THSarabunNew.ttf");
}

@font-face {
  font-family: 'TH Sarabun New';
  font-style: normal;
  font-weight: bold;
  //noinspection CssUnknownTarget
  src: url("/fonts/THSarabunNew Bold.ttf");
}

@font-face {
  font-family: 'TH Sarabun New';
  font-style: italic;
  font-weight: normal;
  //noinspection CssUnknownTarget
  src: url("/fonts/THSarabunNew Italic.ttf");
}

@font-face {
  font-family: 'TH Sarabun New';
  font-style: italic;
  font-weight: bold;
  //noinspection CssUnknownTarget
  src: url("/fonts/THSarabunNew BoldItalic.ttf");
}